body {
    margin: 0;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
}

h1 {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;

    color: #000000;
    margin: 0;
}

h2 {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 36px;

    color: #000000;
    margin: 0;
}

a {
    color: #000000;
}